*
{
    line-height: normal;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.card1
{
    min-height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#v1,#v2,#v3
{
    visibility: hidden;
}
h4
{
    
    margin:10px;
}




